
/* Home Page Scrolling Video */
  .scrolling-video {
    background-image: url("../images/xyz.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }